#############
## Unity junk
#############

Space/Library
Space/Obj
Space/Temp
Space/*.suo
Space/*.user
Space/*.pidb
Space/*.userprefs
Space/*.csproj
Space/*.unityproj
Space/*.sln
Space/.vs
Space/External/SAExternal/Temp
Space/External/SAExternal/.vs
Space/External/SAExternal/SAExternal/obj
Space/External/SADebug/Temp
Space/External/SADebug/.vs
Space/External/SADebug/SADebug/obj
Space/External/SADebug/SADebug/bin

#############
## Blender crap
#############
*.blend1
*.blend1.meta
*.blend2
*.blend2.meta

#############
## OS detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store